<a href="https://colab.research.google.com/github/murli-sharma/Data-Science-ML-With-Python/blob/main/Python/Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello murli')

Hello murli

In [ ]:
num = 10
print(num)

10

In [ ]:
num1 = 10.2
print(type(num1))

<class 'float'>

In [ ]:
Name = "globalschool"
print(Name)
print(type(Name))

globalschool
<class 'str'>

In [ ]:
a,b,c = 10,15,20
print(b)

15

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
Num2 = (62-5*6)/4
print(Num2)
print(type(Num2))

8.0
<class 'float'>

In [ ]:
Num3 = 17//3
Num4 = 17%3
print(Num3)
print(Num4)

5
2

In [ ]:
String = 'murli sharma'
print(String)

murli sharma

In [ ]:
String1 = 'Doesn\'t, they Said.'
String2 = "Doesn't, they said."
print(String1)
print(String2)

Doesn't, they Said.
Doesn't, they said.

In [ ]:
String3 = 'First Line.\nSecond Line.'
print(String3)

First Line.
Second Line.

In [ ]:
String4 = 'c:\Some\name'
String5 = r'c:\Some\name'
print(String4)
print(String5)

c:\Some
ame
c:\Some\name

In [ ]:
String6 = 3*'as'+3*'ium'
print(String6)

asasasiumiumium

In [ ]:
Prifix = 'Py'
String7 = Prifix + 'thon'
print(String7)
print(String7[2:5])
len(String7)
print(String7[2:5:2])

Python
tho
to

In [ ]:
Squares = [1, 4, 9, 16, 25]
Squares.append(36)
Squares.append(7**2)
print(Squares)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
Squares1 = [1,4,9,16,25,36,49]
Squares1[2:5] = [64,81,100]
print(Squares1)

[1, 4, 64, 81, 100, 36, 49]

In [ ]:
A = ['a','b','c']
B = [1,2,3]
C = [A,B]
D = [A+B]
print(C)
print(D)
print(C[0])
print(C[0][1])

[['a', 'b', 'c'], [1, 2, 3]]
[['a', 'b', 'c', 1, 2, 3]]
['a', 'b', 'c']
b

In [ ]:
Aswan = 'Urrehman'
if 'rehman' in Aswan:
  print('Aswanurrehman')
print(Aswan.upper())
print(Aswan.lower())

Aswanurrehman
URREHMAN
urrehman

In [ ]:
Marks = 40
if Marks>90:
  print('A Grade')
elif Marks>80:
    print('B Grade')
elif Marks>60:
      print('C Grade')
elif Marks>=40:
        print('D Grade')
else:
          print('F Grade')

D Grade

In [ ]:
Age = 25
if Age>30:
  print('Married')
elif Age<10:
     print('Unmarried') 
else: 
       print('UK')

UK

In [ ]:
Loop = 'forloop'
for ch in Loop:
  print(ch)

f
o
r
l
o
o
p

In [ ]:
Loop1 = ['cat','window','Long']
for w in Loop1:
  print(w,len(w))

cat 3
window 6
Long 4

In [ ]:
for i in range(5):
  print(i)
print(sum(range(5)))

0
1
2
3
4
10

In [ ]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [ ]:
list(range(0,10,3))

[0, 3, 6, 9]

In [ ]:
for z in range(5):
  if z==3:
    break
  print(z*z)

0
1
4

In [ ]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n,'equals',x,'*',n//x)
            break
    else:
      print(n,'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [ ]:
for num in range(2, 10):
    if num % 2 == 0:
        print('Found an even number', num)
        continue
    print('Found an odd number', num)

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

In [ ]:
lst = [1,2,3,'Pepcoding']
lst.append('8')
lst[0] = 55
print(lst)
lst2 = [1,2,3]
lst.append(lst2)
print(lst)
print(lst[-1])
print(lst[0:3])
lst.insert(1,'DEF')
print(lst)
print(lst.pop())
print(lst)
for i in lst:
  print(i)

[55, 2, 3, 'Pepcoding', '8']
[55, 2, 3, 'Pepcoding', '8', [1, 2, 3]]
[1, 2, 3]
[55, 2, 3]
[55, 'DEF', 2, 3, 'Pepcoding', '8', [1, 2, 3]]
[1, 2, 3]
[55, 'DEF', 2, 3, 'Pepcoding', '8']
55
DEF
2
3
Pepcoding
8

In [ ]:
tup = (1,2,3,'Hello')
print(tup[0])

1

In [ ]:

     tup[0] = 55

TypeError: ignored

In [ ]:
for i in tup:
  print(i)

In [ ]:
st = {'Apple','Mango','Banana','Apple'}
print(st)
st.add('Orange')
print(st)
for i in st:
  print(i)

In [ ]:
st.pop()

In [ ]:
set1 = {1,2,3,4,5}
set2 = {2,5,8,9}
print(set1.union(set2))
print(set1.intersection(set2))

In [ ]:
dict1 = {'Name' : 'Aswan',
         'Team' : 'HotDev'}
print(dict1)
dict2 = {'A':1,
         'C':'Aswan',
         'B':[1,2,3],
         'A':3
}
print(dict2)
print(dict2['A'])
dict2['C']='Aman'
print(dict2)
print(dict2['B'][1])

In [ ]:
dict2.keys()

In [ ]:
dict2.values()

In [ ]:
for i in dict2.values():
  print(i)

In [ ]:
for i,j in dict2.items():
  print(i,j)

In [ ]:
for i,j in zip(dict2.values(),dict2.keys()):
  print(i,j)

In [ ]:
dict4={val:val*val  for val in range(1,6)}
print(dict4)
sum1 = sum(dict4.values())
print(sum1)

In [ ]:
try:
  a=5
  b=6
  c=a/b
except:
    print('Zero Divide')
else:
  print('Me Bhi Hun')
finally:
  print('Me Bhi Aa Gaya')

In [ ]:
class Phone:
  a=10
  b=5
  def initilization(Aswan,X):
   Aswan.a=X
   Aswan.d=X
  def video(Aswan):
    print("the phone has v call feature")
    print(Aswan.a)

In [ ]:
p1=Phone()

In [ ]:
p1.initilization(20)

In [ ]:
p1.d

In [ ]:
p1.video()

In [ ]:
class Phone2:
  def __init__(self,brand,color):
   self.brand=brand
   self.color=color
  def printing(self):
     print("i have "+self.brand+" in color "+self.color)

In [ ]:
p2=Phone2("Iphone","Black")

In [ ]:
p2.printing()

In [ ]:
class Phone2:
  def __init__(self,brand,color):
    self.brand=brand
    self.color=color
    def printing(self):
      print("i have "+self.brand+" in color "+self.color)
      def xyz(Aswan):
        print("abc")

In [ ]:
class Phone3(Phone2):
  def Printing2(self):
    print("m hu child class")

In [ ]:
p3=Phone3("Samsung","white")

In [ ]:
p3.Printing2()